GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPOSITORY=
TELEMETRY_COLLECTOR_URL=
TELEMETRY_INGEST_KEY=
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
CODEX_TELEMETRY_INGEST_KEY=
CODEX_TELEMETRY_RETENTION_DAYS=
PROJECT_TELEMETRY_ENDPOINT=
